* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: rgb(55, 130, 205);
}

.container {
  width: 40%;
  margin: 30px auto;
  display: grid;
  grid-template-columns: repeat(4, minmax(80px, 1fr));
  grid-template-rows: repeat(8, 70px);
  gap: 10px;
  background-color: rgb(119, 9, 223);
  border-radius: 10px;
  padding: 20px;
}

@media only screen and (max-width: 500px) {
  .container {
    width: 90%;
  }
}

#input {
  grid-column: 1/-1;
  grid-row: 1/4;
  background-color: black;
  color: white;
  font-size: 70px;
  border: none;
  padding: 100px;

  text-align: right;
  border: none;
}

#zero {
  grid-column: 1/3;
}

button {
  border: none;
  font-size: 50px;
  background-color: rgb(33, 32, 32);
  border-radius: 20px;
  color: white;
  cursor: pointer;
}
button:hover {
  background-color: rgb(57, 55, 55);
}

.operation {
  background-color: rgb(230, 157, 22);
  color: white;
}

.operation:hover {
  background-color: white;
  color: orange;
}

.other-operation {
  background-color: rgb(206, 195, 195);
  color: black;
}

.other-operation:hover {
  background-color: rgb(235, 229, 229);
}
